<link rel="stylesheet" href="<%= assetPath('css/home_css.css')%>" />
<div class="home-container">
  <h3><a href="/students/">List of Students</a></h3>
  <h3><a href="/interviews/">List of Interviews</a></h3>
  <br />
  To Download All the data about students and their interviews, click on
  Download.
  <br />
  <br />
  <a href="/download-csv">
    <button class="download-btn">
      <i class="fas fa-download"></i> Download
    </button>
  </a>
</div>
